:root {
    --primary: #006630;
    --secondary: #FFCD30;
  }
  
  html,
  body {
    background-color: #F0F0F0;
    height: 100%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: black;
    padding: 0;
    margin: 0;
  }
  
  table {
    margin: auto;
    margin-top: 5%;
    width: 80%;
  }
  
  th {
    padding: auto;
    margin: auto;
  }
  
  td {
    padding: 1em;
  }
  
  .primary {
    background-color: var(--primary);
    color: ivory;
    width: 23%;
    border-color: transparent;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
  }
  
  .secondary {
    background-color: var(--secondary);
    color: ivory;
    width: 23%;
    border-color: transparent;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
  }